:root{
    --primary-green: #00a859;
}


html{
    line-height:1.15;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
article,aside,footer,header,nav,section{
    display:block
}
h1{
    font-size:2em;
    margin:.67em 0
}
figcaption,figure,main{
    display:block
}
figure{
    margin:1em 40px
}
hr{
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    height:0;
    overflow:visible
}
pre{
    font-family:monospace,monospace;
    font-size:1em
}
a{
    background-color:transparent;
    -webkit-text-decoration-skip:objects
}
abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    -webkit-text-decoration:underline dotted;
    text-decoration:underline dotted
}
b,strong{
    font-weight:inherit;
    font-weight:bolder
}
code,kbd,samp{
    font-family:monospace,monospace;
    font-size:1em
}
dfn{
    font-style:italic
}
mark{
    background-color:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub{
    bottom:-.25em
}
sup{
    top:-.5em
}
audio,video{
    display:inline-block
}
audio:not([controls]){
    display:none;
    height:0
}
img{
    border-style:none
}
svg:not(:root){
    overflow:hidden
}
button,input,optgroup,select,textarea{
    font-family:sans-serif;
    font-size:100%;
    line-height:1.15;
    margin:0
}
button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
.submit-wrap [type=button],[type=reset],[type=submit],button,html [type=button]{
    -webkit-appearance:button
}
.submit-wrap [type=button]::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
    border-style:none;
    padding:0
}
.submit-wrap [type=button]:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
    outline:1px dotted ButtonText
}
fieldset{
    padding:.35em .75em .625em
}
legend{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
}
progress{
    display:inline-block;
    vertical-align:baseline
}
textarea{
    overflow:auto
}
[type=checkbox],[type=radio]{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}
[type=search]{
    -webkit-appearance:textfield;
    outline-offset:-2px
}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
details,menu{
    display:block
}
summary{
    display:list-item
}
canvas{
    display:inline-block
}
[hidden],template{
    display:none
}

.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0
}
.sr-only-focusable:active,.sr-only-focusable:focus{
    position:static;
    width:auto;
    height:auto;
    margin:0;
    overflow:visible;
    clip:auto
}
.slick-slider{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -ms-touch-action:pan-y;
    touch-action:pan-y;
    -webkit-tap-highlight-color:transparent
}
.slick-list,.slick-slider{
    position:relative;
    display:block
}
.slick-list{
    overflow:hidden;
    margin:0;
    padding:0
}
.slick-list:focus{
    outline:none
}
.slick-list.dragging{
    cursor:pointer;
    cursor:hand
}
.slick-slider .slick-list,.slick-slider .slick-track{
    -webkit-transform:translateZ(0);
    transform:translateZ(0)
}
.slick-track{
    position:relative;
    left:0;
    top:0;
    display:block;
    margin-left:auto;
    margin-right:auto
}
.slick-track:after,.slick-track:before{
    content:"";
    display:table
}
.slick-track:after{
    clear:both
}
.slick-loading .slick-track{
    visibility:hidden
}
.slick-slide{
    float:left;
    height:100%;
    min-height:1px;
    display:none
}
[dir=rtl] .slick-slide{
    float:right
}
.slick-slide img{
    display:block
}
.slick-slide.slick-loading img{
    display:none
}
.slick-slide.dragging img{
    pointer-events:none
}
.slick-initialized .slick-slide{
    display:block
}
.slick-loading .slick-slide{
    visibility:hidden
}
.slick-vertical .slick-slide{
    display:block;
    height:auto;
    border:1px solid transparent
}
.slick-arrow.slick-hidden{
    display:none
}
body,html{
    color:#595959;
    font-family:Lato,Verdana,Geneva,sans-serif
}
*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
h1,h2,h3,h4,h5,h6,p{
    margin-top:0
}
h1:last-child,h2:last-child,h3:last-child,h4:last-child,h5:last-child,h6:last-child,p:last-child{
    margin-bottom:0
}
a,strong{
    font-weight:600
}
a{
    color:#262626;
    text-decoration:none
}
a:active,a:hover{
    color:var(--primary-green);
}
a.a--cover{
    position:absolute;
    z-index:1;
    top:0;
    right:0;
    bottom:0;
    left:0
}
ul.menu,ul.nav{
    margin:0;
    padding:0;
    list-style-type:none
}
ul.menu a,ul.nav a{
    display:block;
    padding:.5rem 1rem;
    color:#595959;
    text-decoration:none;
    font-weight:300
}
ul.menu a:focus,ul.menu a:hover,ul.nav a:focus,ul.nav a:hover{
    color:#8c8c8c
}
.button,button{
    background-color:#fff;
    border:1px solid #d9d9d9;
    color:#595959;
    padding:.5rem;
    line-height:1em
}
@media screen and (max-width:1024px){
    form .button,form button{
        width:100%;
        text-align:center;
        margin-bottom:1rem
    }
}
.button--submit{
    background-color:var(--primary-green);;
    color:#fff;
    border:1px solid var(--primary-green);
}
input,select,textarea{
    padding:.5rem;
    border:1px solid #d9d9d9;
    color:#595959
}
@media screen and (max-width:1024px){
    form input,form select,form textarea{
        width:100%;
        margin-right:0
    }
}
#searchform{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
#searchform .submit-wrap button[type=button],#searchform button[type=submit],#searchform input,.submit-wrap #searchform button[type=button]{
    border:0;
    border-bottom:1px solid #ededed
}
.nf-before-form-content{
    margin-bottom:1rem
}
.nf-field-container{
    margin-bottom:20px
}
.nf-field input,.nf-field select,.nf-field textarea{
    padding:.75rem;
    border-radius:5px;
    background-color:#f7f7f7;
    border:1px solid #ededed
}
.nf-field [type=button]{
    padding:.75rem 1.5rem;
    background-color:var(--primary-green);;
    color:#fff;
    border:0;
    border-radius:5px
}
.content.row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    max-width:80rem;
    margin-left:auto;
    margin-right:auto;
    padding-top:2rem;
    padding-bottom:2rem
}
@media screen and (max-width:768px){
    .content.row{
        display:block
    }
}
.content.row>.main{
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -ms-flex-negative:1;
    flex-shrink:1;
    -ms-flex-preferred-size:auto;
    flex-basis:auto;
    padding-left:1rem;
    padding-right:1rem;
    overflow:hidden
}
.content.row>.sidebar{
    -webkit-box-flex:0;
    -ms-flex-positive:0;
    flex-grow:0;
    -ms-flex-negative:0;
    flex-shrink:0;
    -ms-flex-preferred-size:20rem;
    flex-basis:20rem;
    padding-left:1rem;
    padding-right:1rem
}
#header-primary{
    background-color:#fff
}
#header-primary .brand{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    color:#595959;
    text-decoration:none
}
@media screen and (max-width:768px){
    #header-primary .brand{
        -ms-flex-preferred-size:80%;
        flex-basis:80%
    }
}
#header-primary .brand img{
    margin-right:1rem;
    width:9rem
}
@media screen and (max-width:768px){
    #header-primary .brand img{
        width:8rem
    }
}
#header-primary .brand h1{
    margin-top:0;
    font-weight:300;
    line-height:1em;
    font-size:1.75rem
}
@media screen and (max-width:768px){
    #header-primary .brand h1{
        font-size:1.5rem
    }
}
#header-primary .brand h1 br{
    line-height:1.2em
}
#header-primary .header__content{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start;
    padding-top:1rem;
    padding-bottom:1rem
}
@media screen and (max-width:1024px){
    #header-primary .header__content #searchform{
        display:none
    }
}
#header-primary .mobile-menu-toggle{
    display:none;
    position:fixed;
    top:0;
    right:0;
    height:3.125rem;
    width:3.125rem;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    z-index:101;
    background-color:#fff;
    cursor:pointer;
    border-left:1px solid #f7f7f7;
    border-bottom:1px solid #f7f7f7
}
#header-primary .mobile-menu-toggle:focus,#header-primary .mobile-menu-toggle:hover{
    background-color:var(--primary-green);;
    color:#fff
}
@media screen and (max-width:1024px){
    #header-primary .mobile-menu-toggle{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex
    }
}
#header-primary .mobile-menu-toggle i{
    font-size:1.25rem
}
#header-primary .nav-primary{
    margin-bottom:1rem
}
@media screen and (max-width:1024px){
    #header-primary .nav-primary{
        display:none
    }
}
#header-primary .nav-primary ul{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
#header-primary .nav-primary li{
    position:relative
}
#header-primary .nav-primary li.active a{
    color:var(--primary-green);
}
#header-primary .nav-primary li.cta{
    background-color:var(--primary-green);
}
#header-primary .nav-primary li.cta a{
    color:#fff
}
#header-primary .nav-primary li.menu-item-has-children{
    padding-right:1rem
}
#header-primary .nav-primary li.menu-item-has-children:after{
    content:"\F0D7";
    font-family:FontAwesome,sans-serif;
    display:block;
    position:absolute;
    right:.5rem;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
#header-primary .nav-primary li.menu-item-has-children:focus .sub-menu,#header-primary .nav-primary li.menu-item-has-children:hover .sub-menu{
    display:block
}
#header-primary .nav-primary a{
    font-weight:600;
    padding:1rem 1.5rem
}
#header-primary .nav-primary .sub-menu{
    position:absolute;
    top:100%;
    left:1rem;
    display:none;
    z-index:100;
    list-style-type:none;
    padding:0;
    margin:0
}
#header-primary .nav-primary .sub-menu li{
    background-color:#f7f7f7
}
#header-primary .nav-primary--mobile{
    display:none;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:100;
    background-color:#fff
}
@media screen and (max-width:1024px){
    #header-primary .nav-primary--mobile.active{
        display:block
    }
}
#header-primary .nav-primary--mobile>ul{
    overflow-y:auto;
    max-height:100%
}
#header-primary .nav-primary--mobile>ul>li>a{
    font-weight:700
}
#header-primary .nav-primary--mobile li.active{
    background-color:var(--primary-green);
}
#header-primary .nav-primary--mobile li.active>a{
    color:#fff;
    font-weight:700
}
#header-primary .nav-primary--mobile a{
    padding:1rem
}
#header-primary .nav-primary--mobile .sub-menu{
    list-style-type:none;
    background-color:#f7f7f7;
    padding-left:0
}
#header-primary .nav-primary--mobile .sub-menu a{
    padding-left:2rem
}
#header-primary .notices p{
    color:var(--primary-green);
}
#header-primary .notices strong{
    color:#595959
}
#header-primary .notice__container{
    padding:.5rem 1rem
}
#header-primary .notice__container p{
    line-height:1.6em
}
.sidebar>section{
    margin-bottom:2rem
}
.sidebar [class^=menu-] a{
    padding-left:0;
    padding-right:0
}
#footer-primary{
    background-color:#ededed;
    padding-top:2rem;
    padding-bottom:2rem
}
#footer-primary .footer__content{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
@media screen and (max-width:768px){
    #footer-primary .footer__content{
        display:block
    }
}
#footer-primary .footer__content .column{
    width:25%
}
@media screen and (max-width:768px){
    #footer-primary .footer__content .column{
        width:100%;
        margin-bottom:1rem
    }
    #footer-primary .footer__content .column:last-of-type{
        margin-bottom:0
    }
}
#footer-primary .footer-menu a{
    padding-left:0;
    padding-right:0
}
#footer-primary .footer-menu.social-media{
    margin-bottom:2rem
}
#footer-primary .footer-menu.social-media h3{
    margin-bottom:0;
    padding-bottom:0
}
#footer-primary #menu-social-media{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
#footer-primary #menu-social-media a{
    content:"";
    font-size:0;
    line-height:0
}
#footer-primary #menu-social-media a:before{
    font-family:FontAwesome,sans-serif;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    font-size:1rem;
    line-height:1em;
    padding:.5rem;
    margin-right:.5rem;
    cursor:pointer;
    height:1.5rem;
    width:1.5rem;
    background-color:#d9d9d9
}
#footer-primary #menu-social-media [class*=twitter] a:before{
    content:"\F099"
}
#footer-primary #menu-social-media [class*=facebook] a:before{
    content:"\F09A"
}
#footer-primary #menu-social-media [class*=instagram] a:before{
    content:"\F16D"
}
#footer-primary #menu-social-media [class*=youtube] a:before{
    content:"\F167"
}
#footer-primary .partner,#footer-primary .partners{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
#footer-primary .partner{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin-right:1rem
}
#footer-primary .partner:last-of-type{
    margin-right:0
}
#footer-primary .partner img{
    width:100%;
    height:auto
}
.blog article,.search article{
    margin-bottom:2rem;
    padding:2rem;
    background-color:#f7f7f7
}
body#tinymce{
    margin:12px!important
}
.page-header{
    margin-bottom:1rem
}
.entry-content li,.entry-content p,.entry-summary li,.entry-summary p{
    line-height:1.6em
}
.section>[class*=__container--padded]{
    padding-left:1rem;
    padding-right:1rem
}
.section>[class*=__container--fixed]{
    width:100%;
    max-width:80rem;
    margin-left:auto;
    margin-right:auto
}
.section h3{
    border-bottom:1px solid #ededed;
    padding-bottom:.5rem
}
.section--charts-accordion .charts__container .chart{
    margin-bottom:.5rem
}
.section--charts-accordion .charts__container .chart.chart--active .chart__title{
    color:#fff;
    background-color:var(--primary-green);
}
.section--charts-accordion .charts__container .chart.chart--active .chart__chart{
    display:block
}
.section--charts-accordion .charts__container .chart__title{
    background-color:#ededed;
    padding:1rem;
    cursor:pointer
}
.section--charts-accordion .charts__container .chart__chart{
    display:none;
    padding:1rem;
    background-color:#f7f7f7
}
.section--dashboards .row{
    margin-bottom:2rem
}
.section--infographics .infographics{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.section--infographics .card--infographic{
    -webkit-box-flex:0;
    -ms-flex-positive:0;
    flex-grow:0;
    -ms-flex-negative:0;
    flex-shrink:0;
    -ms-flex-preferred-size:25%;
    flex-basis:25%;
    margin-bottom:2rem
}
@media screen and (max-width:1280px){
    .section--infographics .card--infographic{
        -ms-flex-preferred-size:50%;
        flex-basis:50%
    }
}
@media screen and (max-width:1024px){
    .section--infographics .card--infographic{
        -ms-flex-preferred-size:100%;
        flex-basis:100%
    }
}
.section--map{
    margin-bottom:2rem
}
.section--map .section__container{
    position:relative
}
.section--map .map{
    min-height:30rem
}
.section--map .map__overlay{
    position:absolute;
    bottom:0;
    right:2rem;
    background-color:rgba(139,195,65,.9);
    z-index:1;
    padding:0 2rem
}
@media screen and (max-width:1024px){
    .section--map .map__overlay{
        position:relative;
        right:0;
        left:0;
        bottom:auto
    }
}
.section--map .map__overlay .row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    border-bottom:1px solid hsla(0,0%,100%,.25)
}
@media screen and (max-width:1024px){
    .section--map .map__overlay .row{
        -ms-flex-wrap:wrap;
        flex-wrap:wrap
    }
}
.section--map .map__overlay .row:last-of-type{
    border-bottom:0
}
.section--map .map__overlay .column{
    padding:2rem 0
}
.section--map .map__overlay .column.column--half{
    -ms-flex-preferred-size:50%;
    flex-basis:50%
}
@media screen and (max-width:1024px){
    .section--map .map__overlay .column.column--half{
        -ms-flex-preferred-size:100%;
        flex-basis:100%
    }
}
.section--map .map__overlay .column.column--half:first-of-type{
    border-right:1px solid hsla(0,0%,100%,.25);
    padding-right:2rem
}
@media screen and (max-width:1024px){
    .section--map .map__overlay .column.column--half:first-of-type{
        border-bottom:1px solid hsla(0,0%,100%,.25);
        padding-right:0;
        border-right:0
    }
}
.section--map .map__overlay .column.column--half:last-of-type{
    padding-left:2rem
}
@media screen and (max-width:1024px){
    .section--map .map__overlay .column.column--half:last-of-type{
        padding-left:0
    }
}
.section--map .map__overlay .column.column--flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1
}
@media screen and (max-width:1024px){
    .section--map .map__overlay .column.column--flex{
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center
    }
}
.section--map .map__overlay ul{
    margin:0;
    padding:0;
    list-style-type:none
}
.section--map .map__overlay li{
    margin-left:1rem
}
.section--map .map__overlay p{
    text-align:center
}
.section--map .map__overlay i{
    font-size:1.5rem
}
.section--map .map__overlay *{
    color:#fff
}
.section--navigation .navigation__breadcrumbs{
    background-color:#f7f7f7;
    padding:.5rem 1rem;
    margin-bottom:1rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
@media screen and (max-width:768px){
    .section--navigation .navigation__breadcrumbs{
        display:block
    }
}
@media screen and (max-width:768px){
    .section--navigation strong{
        display:block;
        margin-bottom:.5rem
    }
}
.section--navigation .breadcrumbs{
    margin:0;
    padding:0;
    list-style-type:none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
@media screen and (max-width:768px){
    .section--navigation .breadcrumbs{
        display:block
    }
}
.section--navigation .breadcrumbs li{
    display:block;
    padding:.5rem
}
.section--navigation .breadcrumbs i{
    margin-left:1rem
}
@media screen and (max-width:768px){
    .section--navigation .breadcrumbs i{
        display:none
    }
}
.section--publication .publication__summary,.section--publication .publications__list{
    background-color:#f7f7f7;
    padding:2rem;
    margin-bottom:2rem
}
.section--publication .publications__list ul{
    margin:0;
    padding:0;
    list-style-type:none
}
.section--publication .publications__list li{
    display:block;
    padding:.5rem 0
}
.section--publication .publications__list li:first-of-type{
    padding-top:0
}
.section--publication .publications__list li:last-of-type{
    padding-bottom:0
}
.section--publications table{
    width:100%;
    border-collapse:collapse;
    margin-bottom:2rem
}
.section--publications table thead th{
    padding:.75rem;
    text-align:left
}
.section--publications table tbody tr:nth-of-type(odd){
    background-color:#f7f7f7
}
.section--publications table tbody tr:nth-of-type(2n){
    background-color:#ededed
}
.section--publications table tbody td{
    padding:.75rem
}
.section--sg-message{
    margin-bottom:2rem
}
.section--sg-message .sg-message{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    padding:1rem;
    position:relative
}
@media screen and (max-width:1280px){
    .section--sg-message .sg-message{
        display:block
    }
}
.section--sg-message .sg-message:after{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(0,0,0,.5);
    z-index:1;
    display:block;
    content:""
}
.section--sg-message .sg-message__image{
    position:relative;
    -ms-flex-preferred-size:40%;
    flex-basis:40%;
    -ms-flex-negative:0;
    flex-shrink:0;
    border:2px solid #fff;
    background-size:cover;
    background-position:50%;
    background-repeat:no-repeat;
    z-index:2
}
@media screen and (max-width:1280px){
    .section--sg-message .sg-message__image{
        background-size:contain;
        height:30rem;
        border:0
    }
}
@media screen and (max-width:768px){
    .section--sg-message .sg-message__image{
        height:20rem
    }
}
.section--sg-message .sg-message__content{
    position:relative;
    padding:2rem;
    z-index:2
}
.section--sg-message p{
    color:#fff
}
.section--statistics{
    margin-bottom:2rem
}
.section--statistics .section__content{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
@media screen and (max-width:1280px){
    .section--statistics .section__content{
        display:block
    }
}
.section--statistics .section--tabs{
    -webkit-box-flex:0;
    -ms-flex-positive:0;
    flex-grow:0;
    -ms-flex-negative:0;
    flex-shrink:0;
    -ms-flex-preferred-size:65%;
    flex-basis:65%;
    margin-right:1rem
}
@media screen and (max-width:1280px){
    .section--statistics .section--tabs{
        margin-right:0
    }
}
.section--statistics .section--tabs .tabs__container{
    margin-bottom:2rem
}
.section--statistics .section--charts-accordion{
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -ms-flex-negative:1;
    flex-shrink:1;
    -ms-flex-preferred-size:auto;
    flex-basis:auto
}
@media screen and (max-width:1280px){
    .section--statistics .upcoming-events{
        margin-bottom:2rem
    }
}
.section--statistics .upcoming-events h4,.section--statistics .upcoming-events h5{
    margin-bottom:.5rem
}
.section--statistics .upcoming-event{
    position:relative;
    margin-bottom:1rem
}
.tabs__content{
    background-color:var(--primary-green);;
    color:#fff
}
.tabs__content,.tabs__content .tabs{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.tabs__content .tabs{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    width:5rem
}
.tabs__content .tab__label{
    text-align:center;
    height:8rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    padding:0;
    cursor:pointer;
    background-color:#ededed;
    color:#595959
}
.tabs__content .tab__label.tab__label--active{
    background-color:var(--primary-green);;
    color:#fff
}
.tabs__content .tab__label h4{
    -webkit-transform-origin:center center;
    transform-origin:center center;
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg)
}
.tabs__content .tabs__text{
    padding:1rem
}
.tabs__content .tab__text{
    display:none
}
.tabs__content .tab__text.tab__text--active{
    display:block
}
.card{
    position:relative
}
.card--infographic .card__container{
    background-color:#f7f7f7;
    margin-left:1rem;
    margin-right:1rem
}
@media screen and (max-width:768px){
    .card--infographic .card__container{
        margin-left:0;
        margin-right:0
    }
}
.card--infographic .infographic__image{
    padding-top:100%;
    background-size:cover;
    background-position:50%;
    background-repeat:no-repeat;
    background-color:#ededed
}
.card--infographic .infographic__title{
    padding:1rem
}
.date-filter{
    margin-bottom:2rem
}
.date-filter p{
    margin-bottom:0
}
.date-filter form{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
@media screen and (max-width:1024px){
    .date-filter form{
        display:block
    }
}
.date-filter form>div{
    margin-right:1rem
}
@media screen and (max-width:1024px){
    .date-filter form>div{
        margin-right:0;
        margin-bottom:1rem
    }
}
.date-filter form>div:last-of-type{
    margin-right:0
}
.row--half-width{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
@media screen and (max-width:1024px){
    .row--half-width{
        display:block
    }
}
.row--half-width .column{
    -webkit-box-flex:0;
    -ms-flex-positive:0;
    flex-grow:0;
    -ms-flex-preferred-size:calc(50% - 1rem);
    flex-basis:calc(50% - 1rem)
}
@media screen and (max-width:1024px){
    .row--half-width .column{
        margin-bottom:1rem
    }
}
.pagination,.pagination .page-numbers{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.pagination .page-numbers{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    height:3rem;
    width:3rem;
    margin-right:.125rem
}
.pagination a{
    background-color:#f7f7f7
}
.pagination span{
    color:#d9d9d9
}
.publication-filter{
    margin-bottom:2rem
}
.publication-filter form{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
@media screen and (max-width:768px){
    .publication-filter form{
        display:block
    }
}
.publication-filter p{
    margin-right:1rem;
    margin-bottom:0
}
.publication-filter select{
    margin-right:1rem
}
@media screen and (max-width:768px){
    .publication-filter select{
        margin-bottom:1rem;
        margin-right:0
    }
}
.publication-filter button{
    height:37px
}
.section--carousel .slick-arrow{
    position:absolute;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    font-size:0;
    padding:0;
    line-height:0;
    z-index:1;
    color:transparent;
    border:none;
    outline:none;
    background-color:transparent
}
.section--carousel .slick-arrow:before{
    font-family:FontAwesome,sans-serif;
    display:block;
    font-size:1.5rem;
    line-height:1em;
    color:#fff;
    cursor:pointer;
    padding:1rem
}
.section--carousel .slick-prev{
    left:0
}
.section--carousel .slick-prev:before{
    content:"\F0D9"
}
.section--carousel .slick-next{
    right:0
}
.section--carousel .slick-next:before{
    content:"\F0DA"
}
.section--carousel-homepage{
    margin-bottom:2rem
}
.section--carousel-homepage .section__container{
    background-color:#f7f7f7;
    padding-left:0;
    padding-right:0
}
.section--carousel-homepage .carousel__slide{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    background-size:cover;
    background-position:50%;
    background-repeat:no-repeat
}
.section--carousel-homepage .slide__container{
    padding:1rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
@media screen and (max-width:1024px){
    .section--carousel-homepage .slide__container{
        display:block
    }
}
.section--carousel-homepage .slide__image{
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -ms-flex-negative:0;
    flex-shrink:0;
    -ms-flex-preferred-size:65%;
    flex-basis:65%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:50%;
    margin-right:1rem;
    background-color:#fff
}
@media screen and (max-width:1024px){
    .section--carousel-homepage .slide__image{
        padding-top:50%;
        margin-bottom:1rem;
        margin-right:0
    }
}
.section--carousel-homepage .slide__content{
    -webkit-box-flex:0;
    -ms-flex-positive:0;
    flex-grow:0;
    -ms-flex-negative:1;
    flex-shrink:1;
    -ms-flex-preferred-size:auto;
    flex-basis:auto;
    margin-bottom:2rem
}
.section--carousel-homepage .slick-arrow{
    top:auto;
    bottom:0;
    right:0;
    -webkit-transform:translateY(0);
    transform:translateY(0)
}
.section--carousel-homepage .slick-arrow:before{
    color:#595959
}
.section--carousel-homepage .slick-prev{
    margin-right:2.5rem;
    left:auto
}
.section--carousel-homepage .slick-next:before{
    content:"\F0DA"
}
.section--carousel-page{
    margin-bottom:2rem
}
.section--carousel-page .carousel__slide{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    min-height:20rem;
    -webkit-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    background-size:cover;
    background-position:50%;
    background-repeat:no-repeat;
    background-color:#f7f7f7
}
@media screen and (max-width:1024px){
    .section--carousel-page .carousel__slide{
        background-size:contain
    }
}
.section--carousel-page .slide__container{
    background-color:rgba(0,0,0,.5);
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    padding:1rem
}
.section--carousel-page .slide__container p{
    color:#fff
}
.widget h3{
    border-bottom:1px solid #ededed;
    padding-bottom:.5rem
}
.widget_recent_entries ul{
    margin:0;
    padding:0;
    list-style-type:none
}
.widget_recent_entries li{
    margin-bottom:1rem
}
.widget_recent_entries .post-date{
    display:block;
    text-align:right;
    font-style:italic;
    font-size:.8rem
}
.widget_nav_menu .menu li{
    margin-bottom:.25rem;
    background-color:#ededed
}
.widget_nav_menu .menu li.active{
    background-color:var(--primary-green);
}
.widget_nav_menu .menu li.active a{
    color:#fff
}
.widget_nav_menu .menu a{
    padding-left:.5rem;
    padding-right:.5rem
}
/*# sourceMappingURL=main.css.map*/
